.searchbutton {
    background-color: #dddad7;
    height: 21px;
    border: none;
    margin-top: -1%;
    margin-right:3%;
}

.thesaurussearch {
    height: 20px;
    width: 78%;
    margin-left: 3%;
    float: left;
    color: black;
}

.search {
    margin-top: -38%;
    font-size: 12px;
}

.t-nav1{
	margin-top: -6%;
	background-color: #428ced;
	padding-bottom: 2%;
	color:white;
}

.title{
    font: 24px Helvetica,sans-serif;
    line-height: 26px;
    font-style: italic;
    font-weight: 700;
    text-decoration: none;
        padding-top: 3%;
        margin-top: 19px;
}

.theword{
	    margin-top: 2%;
	margin-left: 3%;
	float:left;
	display:inline-block;
	        margin-bottom: 0.5%;
}

.theresults{
	display:inline-block;
	margin-left: 3%;
    float:left;

}

.each1{
	display: inline-block;
	float:left;
	margin-right: 2.5%;
	    margin-bottom: 0;
        text-align: left;
}