.square {
  background: #fff;
/*  border: 1px solid #999;*/
  float: left;
  height: 180px;
  margin-right: 1%;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 31%;
  margin-bottom: 1%;


}

#root{
      margin-top: 3%;
      margin-left: 3%;}

#googlebox{
  width:25%;
    margin-left: 36%;
  margin-bottom:0%;
  z-index:0;
  position:absolute;
     margin-top: -24%;
     background-color: black;


}

#googlebox1{
  background-color: black;
}

#thesaurusbox{
border-radius: 3%;
overflow-y: scroll;
}

#dictionarybox{
border-radius: 3%;
overflow-y: scroll;
}

#root{
  z-index:0;
}

#calendarbox{
margin-top: 2%;

}

#Gif{
  border-radius: 3%;
  overflow-y: scroll;

}

input.gsc-search-button-v2 {
      height: 22px;

    }

    .googlebutton{
      display: none;
    }

    body{
      background-color: black;
    }

    .homepic{
       margin-top: 2.9%;
    z-index: 1101;
    position: absolute;
    margin-left: 8%;
    }


.projecttitle{
       position: absolute;
    margin-top: 0%;
    margin-left: 4%;
    font-family: Futura, Futura-Medium, "Futura Medium", "Century Gothic", CenturyGothic, "Apple Gothic", AppleGothic, "URW Gothic L", "Avant Garde", sans-serif;

}

.letter{
  display: inline-block;
      font-size: 48px;
}

#letter1{
  color:#53aef4;
}

#letter2{
  color:#ff3232;
}

#letter3{
  color:#ffd53d;
}

#letter4{
  color:#53aef4;
}

#letter5{
  color:#319b1f;
}

#letter6{
  color:#ff3232;
}

#letter7{
  color:#ffd53d;
}

#letter8{
  color:#319b1f;
}

#vidlinks{
  border-radius: 3%;
}

.links{
  margin-top: 6%;
}

.weblinks{
  margin:2%;
}

#vidlinks{
  overflow-y: scroll;
}