.square {
  background: #fff;
/*  border: 1px solid #999;*/
  float: left;
  height: 180px;
  margin-right: 1%;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 31%;
  margin-bottom: 1%;


}
#root{
      margin-top: 1%;
}

#googlebox{
  width:25%;
    margin-left: 35%;
  margin-bottom:0%;
  z-index:100;
  position:absolute;
     margin-top: -28%;

}

#thesaurusbox{
border:1px solid #dddad7;
border-radius: 3%;
overflow-y: scroll;
}

#dictionarybox{
border:1px solid #dddad7;
border-radius: 3%;
overflow-y: scroll;
}

#root{
  z-index:0;
}

#calendarbox{
margin-top: 2%;

}

#calendar{
  background-color: #fff789;
  border-radius: 3%;

}

input.gsc-search-button-v2 {
      height: 22px;

    }
