.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  height: 180px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 33.3%;

}
#root{
      margin-top: 1%;
}

#googlebox{
  width:25%;
  margin-left:38%;
  margin-bottom:0%;
  z-index:100;
  position:absolute;
     margin-top: -25%;

}

#thesaurusbox{
border:1px solid #dddad7;
border-radius: 2%;
overflow-y: scroll;
}

#dictionarybox{
border:1px solid #dddad7;
border-radius: 2%;
overflow-y: scroll;
}

#root{
  z-index:0;
}

#calendarbox{
margin-top: 2%;


}

#calendar{
  background-color: #fff789;
}

input.gsc-search-button-v2 {
      height: 22px;

    }
