
.articlesYelp{
	padding-left: 2%;
  padding-bottom: 2%;
  border-bottom: 1px solid #f5f5f5;
  color:#dddddd;
}




.word{
	 color:black;
text-decoration: none;
    margin-left: 1%;
}
.wodtitlebox{

  	margin-top: -5.5%;
  	padding-bottom: 2%;
  	color:white;
	  background-color:#32cd32;
}

#wodtitle{
	font: 24px Helvetica,sans-serif;
	line-height: 26px;
	font-style: italic;
	font-weight: 700;
	text-align:center;
	text-decoration: none;
	padding-top: 3%;
	margin-top: 19px;
	color:white;
	background-color:#32cd32;
}
